html,
body {
  height: 100vh;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(65, 0, 173);
  background: linear-gradient(
    90deg,
    rgba(65, 0, 173, 1) 0%,
    rgba(9, 9, 121, 1) 47%,
    rgba(62, 0, 182, 1) 100%
  );
}

a {
  text-decoration: none;
  color: white;
}

.fs-p75 {
  font-size: 0.75rem;
}

.fs-1p5 {
  font-size: 1.5rem;
}

.fs-1p25 {
  font-size: 1.25rem;
}

.m-1 {
  margin: 1rem;
}

.w-50-percent {
  width: 50%;
}

.dialog-warning {
  color: black;
}

.primary,
.MuiTypography-h6,
.MuiButton-text.MuiButton-textPrimary {
  color: rgb(51, 0, 145);
}

.MuiTypography-h6 {
  font-weight: 600;
}

.active-link {
  color: rgb(184, 217, 255);
  font-weight: 600;
}

.display-flex {
  display: flex;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flex-start {
  display: flex;
  align-content: flex-start;
}

.align-self-center {
  align-self: center;
}

.table-container {
  width: 400px;
}

.secondary-table {
  width: 90%;
  align-self: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.info-icon {
  transform: translateY(-0.25rem) scale(0.75);
}

.detail-section {
  width: calc(100vw - 400px);
  transition: transform 0.3s ease-in-out;
}

.active-row {
  background: rgb(235, 235, 235) !important;
}

.primary-search-input {
  padding: 0;
  width: 100%;
}

#back-button {
  display: none;
}

@media screen and (max-width: 1200px) {
  .secondary-table {
    width: 95%;
  }
  .table-container {
    width: 350px;
  }
  .detail-section {
    width: calc(100vw - 350px);
  }
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
    height: 100vh;
  }

  #back-button {
    display: flex;
  }

  .secondary-table {
    width: 100%;
  }
  .table-container {
    width: 100%;
  }
  .detail-section {
    background-color: white;
    position: absolute;
    z-index: 3;
    width: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }

  .detail-section.active {
    position: absolute;
    z-index: 10;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    min-height: 1200px;
  }
}
