html,
body {
  height: 100vh;
}

.App {
  text-align: center;
  color: darkslategrey;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: aliceblue;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

.fs-p75 {
  font-size: 0.75rem;
}

.fs-1p5 {
  font-size: 1.5rem;
}

.m-1 {
  margin: 1rem;
}

.secondary {
  color: dodgerblue;
}

.active-link {
  color: dodgerblue;
}

.display-flex {
  display: flex;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flex-start {
  display: flex;
  align-content: flex-start;
}

.table-container {
  width: 400px;
}

.secondary-table {
  width: 90%;
  align-self: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.info-icon {
  transform: translateY(-0.25rem) scale(0.75);
}

.detail-section {
  width: calc(100vw - 400px);
  transition: transform 0.3s ease-in-out;
}

.active-row {
  background: aliceblue !important;
}

#back-button {
  display: none;
}

@media screen and (max-width: 1200px) {
  .secondary-table {
    width: 95%;
  }
  .table-container {
    width: 350px;
  }
  .detail-section {
    width: calc(100vw - 350px);
  }
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
    height: 100vh;
  }

  #back-button {
    display: flex;
  }

  .secondary-table {
    width: 100%;
  }
  .table-container {
    width: 100%;
  }
  .detail-section {
    background-color: white;
    position: absolute;
    z-index: 3;
    width: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }

  .detail-section.active {
    position: absolute;
    z-index: 10;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    min-height: 1200px;
  }
}
